<%= render "shared/second-header"%>
<h2> <%= resource_name.to_s.humanize %>情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "doctors/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :新しいパスワード %> <i>(変更しない場合空白)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :新しいパスワード %><i>(確認用)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %> <i>(変更するには現パスワード必要)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :プロフィール画像 %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit "アップデート" %>
  </div>
<% end %>

<%= link_to "戻る", :back %>
