<%= render "shared/second-header"%>


<%= form_for(@user, url: user_registration_path) do |f| %>
  <%#問題なかったら消す%>
  <%#= render "devise/shared/error_messages", resource: @user %>
  <%= render 'shared/error_messages', model: f.object %>
    <div class="field-wrap">
      <h2 class="signup">新規登録画面</h2>
      <div class="field">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :nickname, autofocus: true,placeholder:"例）イチロウ",class: "registrations-field" %>
      </div>

      <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"例）abc123@gmail.com",class: "registrations-field" %>
      </div>

      <%if @sns_id.present?%>
        <%= hidden_field_tag :sns_auth, true %>
      <% else %>
        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",placeholder:"６文字以上の半角英数字",class: "registrations-field" %>
        </div>
        <div class="field">
          <%= f.label :パスワード（確認用） %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"６文字以上の半角英数字",class: "registrations-field" %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :お名前（姓） %><br />
        <%= f.text_field :last_name ,placeholder:"例）山田",class: "registrations-field"%>
      </div>

      <div class="field">
        <%= f.label :お名前（名） %><br />
        <%= f.text_field :first_name ,placeholder:"例）一郎",class: "registrations-field"%>
      </div>

      <div class="field">
        <%= f.label :お名前（セイ） %><br />
        <%= f.text_field :last_name_kana ,placeholder:"例）ヤマダ",class: "registrations-field"%>
      </div>

      <div class="field">
        <%= f.label :お名前（ナマエ） %><br />
        <%= f.text_field :first_name_kana ,placeholder:"例）イチロウ",class: "registrations-field"%>
      </div>

      <div class="field">
        <%= f.label :年齢 %><br />
        <%= f.text_field :age ,placeholder:"例）35",class: "registrations-field"%>
      </div>



      <div class="actions">
        <%= f.submit "次へ" , class: "actions-field"%>
      </div>
    </div>
<% end %>

  <%= render "devise/shared/links" %>
