<%= render "shared/second-header"%>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field-wrap">
    <h2 class="login">Dr用ログイン</h2>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:"メールアドレス", class: "sessions-field"%>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password" ,placeholder:"パスワード", class: "sessions-field"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :ログイン情報を保持する %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン" , class: "actions-field"%>
      </div>
      <div class="signup-btn">
        <%= render "doctors/shared/links" %>
      </div>
    </div>
  <% end %>

    