<%= render "shared/second-header"%>

<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
    </div>
    <%= form_with model: current_user, local: true do |f|%>
      <div class='field-wrap'>
      <h5 class="account">アカウントの編集</h5>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :ニックネーム%>
          </div>
          <div class='field-input'>
            <%= f.text_field :nickname, autofocus: true, class: "edit-field"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :メールアドレス%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, class: "edit-field"%>
          </div>
          </div>
          <div class='actions'>
            <%= f.submit "変更する", class: "actions-field"%>
          </div>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
          <%= link_to "チャットページに戻る", :back, class: 'btn'%>
    <% end %>
    </div>
  </div>
</div>