<%= render "shared/second-header"%>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field-wrap">
    <h2 class="login">ユーザー用ログイン画面</h2>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", class: "sessions-field"%>
      </div>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password" ,placeholder:"パスワード", class: "sessions-field"%>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :ログイン情報を保持する %>
        </div>
      <% end %>
  
    <div class="actions">
      <%= f.submit "ログイン" , class: "actions-field"%>
    </div>
    <div class="sns-form">
      <div class="sns-form-face">
        <%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post,class: "facebook-field"%>
      </div>
      <div class="sns-form-google">
        <%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post ,class: "google-field"%>
      </div>
    </div>


    <%= render "devise/shared/links" %>
  </div>
  <div class="field-wrap">
    <h2 class="doctor-info">Drはこちら</h2>
    <div class="doctor-links">
      <%= link_to 'Dr用ログイン' ,new_doctor_session_path, class: "actions-field-2"%>
    </div>
    <div class="doctor-links">
      <%= link_to 'Dr用新規登録' ,new_doctor_registration_path, class: "actions-field-2"%>
    </div>
  </div>
<% end %>