<%= render "shared/second-header"%>
<main class="main">
  <div class="inner">
    <h1 class="page-heading">Dr一覧</h1>
      <div class="card__wrapper">
      <% @doctors.each do |doctor| %>
            <%#= link_to item_path(item.id), method: :get do %>
            
              <%#= image_tag item.image, class: "item-img" %>
        <div class="card">
          <%#img src="" alt="画像なし" class="card__img" /%>
          <%= image_tag "doctor.png", class:"card__imhg"%>
            <div class="card__body">
              <div class="card__title">
                <%= link_to doctor.name, doctor_path(doctor.id)  %>
                <span>Dr</span>
              </div>
              <%= link_to "プロフィールを見る", doctor_path(doctor.id)  %>
              <div class="card-content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= doctor.rating_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= doctor.avg_score %>点 (<% doctor.ratings.count %>件の口コミ)
                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to doctor_ratings_path(doctor), class: "button card-footer-item" do %>
                口コミを見る
              <% end %>
              <%= link_to doctor_path(doctor), class: "button card-footer-item" do %>
                口コミを書く
              <% end %>
            </footer>
        </div>
      <% end %>
      </div>
  </div>
</main>
      