<%= render "shared/second-header"%>
<div class="doctor-profire">
  <div class="doctor-header">
    <div class="doctor-image">
      <% if @doctor.avatar.attached? %>
      <%= image_tag @doctor.avatar, size: '260x300' %>
    <% else %>
      <%= image_tag "no-image.png", size: '260x300'%>
    <% end %>
    </div>
    <div class="doctor-info">
      <div class="content average-socre">
        <div class="star-rating mb-2">
          <div class="star-rating-front" style="width: <%= @doctor.rating_score_percentage %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
        </div>
        <div class="average-score-display ml-3 pt-2">
          <%= @doctor.avg_score %>点 (<%= @doctor.ratings.count %>件のレビュー)
        </div>
      </div>
      <div class="doctor-name">
        <%= @doctor.name%>Dr
      </div>
      <div class="doctor-review">
        <%= render 'ratings/form', rating: @rating, doctor: @doctor%>
      </div>
    </div>
  </div>
  <div class="info-list">
    <ul>
      <p class="info-title">
      [ 地域 ]
      </p>
      <li><%= @doctor.area%></li>
      <p class="info-title">
      [ 専門分野 得意領域]
      </p>
      <li><%= @doctor.speciality%></li>
      <p class="info-title">
      [ ひと言 ]
      </p>
      <li><%= @doctor.word%></li>
    </ul>
  </div>
  <div class="doctor-talk">
    <% if @doctor_ids.include?(@doctor.id) %>
      <%= link_to "診察の続き", room_path(current_user.rooms.find_by(doctor_id: @doctor.id)) , class: "symptom-btn"%>
    <% else %>
      <%= form_for Room.new do |f| %>
        <%= f.hidden_field :doctor_id, :value => @doctor.id %>
        <%= f.submit :新規診察, class: "new-symptom-btn"%>
      <% end %>
    <% end %>
  </div>
</div>
