
<% if user_signed_in? %>
<div class="side-bar-header">
  <div class="create-room">
    <%= link_to "ユーザ情報編集", edit_user_registration_path %>
  </div>
</div>
  <div class="side-symptom-create">
    <div class="symptom-create-btn">
      <%= link_to "カルテ編集", edit_symptom_path(current_user) %>
    </div>
    <div class="create-message">
      <span class="red">※</span>症状の変更時はご記入ください。<span class="red">※</span>
    </div>
  </div>


  <div class="rooms">
  
    <div class="room-name">
        <%= current_user.nickname %>
    </div>
    <div class="room-name">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, size: '200x200' %>
    <% else %>
      <%= image_tag "no-image.png", size: '200x200'%>
    <% end %>
    </div>
    <div class="room-name">
      ~ログイン中~
    </div>
  <% elsif doctor_signed_in? %>
  <div class="side-bar-header">
  
  </div>
  <div class="side-symptom-create">
    <div class="symptom-create-btn">
      <%= link_to "Dr情報編集", edit_doctor_registration_path %>
    </div>
    <div class="create-message">
      
    </div>
  </div>
  <div class="rooms">
    <div class="room-name">
      <%= current_doctor.name %>Dr
    </div>
    <div class="room-name">
    <% if @doctor.avatar.attached? %>
      <%= image_tag @doctor.avatar, size: '170x200' %>
    <% else %>
      <%= image_tag "no-image.png", size: '200x200'%>
    <% end %>
    </div>
    <div class="room-name">
      ~ログイン中~
    </div>
  <% end%>
</div>
