<div class="chat-header">
  <div class="header-image1">
    <%= image_tag "聴診器のアイコン素材.png"%>
  </div>
  <div class="header-title">
    <%=link_to 'meditalk', "/", class:"second-logo2" %>
  </div>
  <div class="header-image1">
    <%= image_tag "かわいい医者のアイコン素材.png"%>
  </div>
</div>

<div class="chat-name">
  <div class="left-name">
  <% if user_signed_in? %>
    <div class="name-title">
      <%= @doctor.name %>Drとのチャットルーム
    </div>
  <% elsif doctor_signed_in? %>
    <div class="name-title">
      <%= @user.nickname %>さんとのチャットルーム
    </div>
  <% end%>
  </div>
  <div class="right-name">
    <div class="name-button">
      <%= link_to "終了", root_path%>
    </div>
  </div>
</div>
<div class="scroll">
  <div class="messages" id="messagesid">
    <%#= render partial: 'message', collection:  @messages%>
    <%= render "message" %>
  </div>
</div>
<div id="image-list"></div>
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>