<div class="right-side-bar-header">
  <div class="header-name">
    
  </div>
  
</div>

<div class="right-medical-record">
  <div class="right-side-image">
    <%= image_tag "診断書 (1).png"%>
  </div>
  <div class="right-side-record">
    カルテ
  </div>
</div>


<div class="rooms">
      <div>
        <div>
          <div class="detail-item">名前</div>
          <div class="detail-value"><%= @user.nickname %></div>
        </div>
        <div>
          <div class="detail-item">年齢</div>
          <div class="detail-value"><%= @user.age %></div>
        </div>
        <div>
          <div class="detail-item">主訴</div>
          <div class="detail-value"><%= @symptom.cc %></div>
        </div>
        <div>
          <div class="detail-item">いつから?</div>
          <div class="detail-value"><%= @symptom.from_when  %></div>
        </div>
        <div>
          <div class="detail-item">どこで</div>
          <div class="detail-value"><%= @symptom.where  %></div>
        </div>
        <div>
          <div class="detail-item">状況</div>
          <div class="detail-value"><%= @symptom.situation  %></div>
        </div>
        <div>
          <div class="detail-item">既往歴</div>
          <div class="detail-value"><%= @symptom.ph  %></div>
        </div>
        <div>
          <div class="detail-item">アレルギー</div>
          <div class="detail-value"><%= @symptom.allergies  %></div>
        </div>
        <div>
          <div class="detail-item">お薬</div>
          <div class="detail-value"><%= @symptom.medicine  %></div>
        </div>
    </div>
</div>