<%= render "shared/second-header"%>

<div class='chat-room-form'>
  <div class="chat-new">ご希望のDr名の入力</div>
  <%=form_with model: @room, local: true do |f|%>
  <%= render 'shared/error_messages', model: f.object %>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :Dr名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :room_name, class: 'chat__room_name chat-room-form__input', placeholder: '診察室名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>Dr選択</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="room[doctor_id]">
          <option value="">相談したいDrを選択してください</option>
          <% Doctor.all.each do |doctor| %>
              <option value=<%=doctor.id%>><%= doctor.name %></option>
          <% end %>
        </select>
        
      </div>
    </div>
    
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
